* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 1280px;
}

.header {
  display: block;
}

.header {
  .container {
    width: 100%;
    padding: 1rem 2rem;
  }
}


.header{
  .container{
    .row{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-wrap: nowrap;
    }
  }
}

.header{
  .container{
    .row{
      .col{
        display: flex;
        align-items: center;
        width: calc(100%/4);
      }
    }
  }
}

.header{
  .container{
    .row{
      .navbar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

.header{
  .container{
    .row{
      .navbar a{
        color: #000;
        text-decoration: none;
        transition: all 0.5s;
      }
    }
  }
}

.header{
  .container{
    .row{
      .navbar a:hover{
        color: burlywood;
      }
    }
  }
}

.header{
  .container{
    .row{
      .col-left{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.header{
  .container{
    .row{
      .col-left button{
        border: transparent;
        background-color: #fff;
      }
    }
  }
}

.header{
  .container{
    .row{
      .col-left{
        .logIn button{
          padding: 0.5rem;
          transition: all 0.5s;
        }
      }
    }
  }
}

.header{
  .container{
    .row{
      .col-left{
        .logIn button:hover{
          color: burlywood;
          background-color: aquamarine;
          border-radius: 0.5rem;
        }
      }
    }
  }
}