* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  margin: 0 48px;
}

@import 'Animations/Effects.scss', 'Base/reset', 'Components/Button.scss', 'Custom/position.scss';

.color-primary {
  color: #ad51af;
}

.color-success {
  color: #50bf3d;
}

.color-info {
  color: #05c3c6;
}

.color-warning {
  color: #eadc10;
}

.color-danger {
  color: #fc5b20;
}

.color-light {
  color: #f2cef6;
}

.color-dark {
  color: #212529;
}

.color-text {
  color: #000;
}

.color-black {
  color: #000;
}

.color-white {
  color: #fff;
}

.caption {
  font-size: 1.2rem;
  line-height: 1.68rem;
  display: block;
}

.paraph-s {
  font-size: 1.4rem;
  line-height: 1.96rem;
  display: block;
}

.paraph-m {
  font-size: 1.6rem;
  line-height: 2.24rem;
  display: block;
}

.paraph-l {
  font-size: 1.8rem;
  line-height: 2.52rem;
  display: block;
}

.sub-title-s {
  font-size: 2rem;
  line-height: 2.8rem;
  display: block;
}

.sub-title-m {
  font-size: 2.2rem;
  line-height: 3.08rem;
  display: block;
}

.sub-title-l {
  font-size: 2.8rem;
  line-height: 3.92rem;
  display: block;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.h1 {
  font-size: 6.4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.h2 {
  font-size: 5.6rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.h3 {
  font-size: 4.8rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.h4 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.h5 {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.h6 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

