.product-card {
  position: relative;
  height: 360px;
  .product-card__wrapper {
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    transition: all ease 0.3s;
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    &:hover {
      height: 360px;
      position: absolute;
      transform: scale(130%);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      .product-body .product-desc {
        font-size: 12px;
        overflow: unset;
        display: block;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
        cursor: default;
      }
      .product-img {
        img {
          display: none;
        }
      }
    }
  }
  .product-img {
    overflow: hidden;
    border-radius: 16px;
    height: 140px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
      border-radius: 16px;
      height: 100%;
    }
  }
  .product-info {
    .product-heading {
      p {
        @extend .sub-title-s;
      }
    }
  }
  .product-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 16px;
    .product-type {
      @extend .paraph-m;
      color: #999;
      font-weight: $fw-1;
    }
    .product-desc {
      font-size: 12px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      cursor: default;
    }
  }
  .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    .product-price {
      @extend .paraph-l;
    }
    .product-btn {
      background: #f7adff;
      border: 1px solid transparent;
      border-radius: 0.75rem;
      box-sizing: border-box;
      color: #ffffff;
      padding: 0.75rem 1.2rem;
      transition: all 0.3s ease;
      font-size: $fs-2;
      &:focus {
        box-shadow: none;
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
      &:hover {
        background-color: #cf7bc9;
      }
    }
  }
}
