.product-card {
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 16px;
  transition: all ease 0.3s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
  }
  .product-card__wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 280px;
    row-gap: 16px;
  }
  .product-img {
    height: 50%;
    overflow: hidden;
    border-radius: 16px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .product-info {
    .product-heading {
      p {
        @extend .sub-title-s;
      }
    }
  }
  .product-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .paraph-s;
    color: #999;
    font-weight: $fw-1;
  }
  .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    .product-price {
      @extend .paraph-l;
    }
    .product-btn {
      background: #f7adff;
      border: 1px solid transparent;
      border-radius: 0.75rem;
      box-sizing: border-box;
      color: #ffffff;
      padding: 0.75rem 1.2rem;
      transition: all 0.3s ease;
      font-size: $fs-2;
      &:focus {
        box-shadow: none;
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
      &:hover {
        background-color: #cf7bc9;
      }
    }
  }
}
